
.uil-location:before { content: '\e800'; } /* '' */
.uil-location-1:before { content: '\e801'; } /* '' */
.uil-pin:before { content: '\e802'; } /* '' */
.uil-pin-1:before { content: '\e803'; } /* '' */
.uil-login:before { content: '\e804'; } /* '' */
.uil-cog-alt:before { content: '\e805'; } /* '' */
.uil-cog:before { content: '\e806'; } /* '' */
.uil-cog-circled:before { content: '\e807'; } /* '' */
.uil-params:before { content: '\e808'; } /* '' */
.uil-wrench:before { content: '\e809'; } /* '' */
.uil-wrench-1:before { content: '\e80a'; } /* '' */
.uil-wrench-2:before { content: '\e80b'; } /* '' */
.uil-wrench-circled:before { content: '\e80c'; } /* '' */
.uil-warning:before { content: '\e80d'; } /* '' */
.uil-attention-circled:before { content: '\e80e'; } /* '' */
.uil-bell:before { content: '\e80f'; } /* '' */
.uil-info-circled:before { content: '\e810'; } /* '' */
.uil-help-circled:before { content: '\e811'; } /* '' */
.uil-help-circled-alt:before { content: '\e812'; } /* '' */
.uil-check:before { content: '\e813'; } /* '' */
.uil-ok-circled2:before { content: '\e814'; } /* '' */
.uil-ok-circled:before { content: '\e815'; } /* '' */
.uil-tools:before { content: '\e816'; } /* '' */
.uil-user-add:before { content: '\e817'; } /* '' */
.uil-th-large:before { content: '\e818'; } /* '' */
.uil-th:before { content: '\e819'; } /* '' */
.uil-right-outline:before { content: '\e81a'; } /* '' */
.uil-right:before { content: '\e81b'; } /* '' */
.uil-right-open:before { content: '\e81c'; } /* '' */
.uil-right-open-outline:before { content: '\e81d'; } /* '' */
.uil-left-outline:before { content: '\e81e'; } /* '' */
.uil-left:before { content: '\e81f'; } /* '' */
.uil-left-open:before { content: '\e820'; } /* '' */
.uil-left-open-outline:before { content: '\e821'; } /* '' */
.uil-down:before { content: '\e822'; } /* '' */
.uil-download:before { content: '\e823'; } /* '' */
.uil-down-circled2:before { content: '\e824'; } /* '' */
.uil-down-open:before { content: '\f004'; } /* '' */
.uil-up-open:before { content: '\f005'; } /* '' */
.uil-menu:before { content: '\f008'; } /* '' */
.uil-logout:before { content: '\f02d'; } /* '' */
.uil-upload:before { content: '\f02f'; } /* '' */
.uil-link:before { content: '\f07b'; } /* '' */
.uil-zoom-in:before { content: '\f07e'; } /* '' */
.uil-zoom-out:before { content: '\f07f'; } /* '' */
.uil-up-circled:before { content: '\f0aa'; } /* '' */
.uil-bell-alt:before { content: '\f0f3'; } /* '' */
.uil-angle-circled-left:before { content: '\f137'; } /* '' */
.uil-angle-circled-right:before { content: '\f138'; } /* '' */
.uil-angle-circled-up:before { content: '\f139'; } /* '' */
.uil-angle-circled-down:before { content: '\f13a'; } /* '' */
.uil-right-circled2:before { content: '\f18e'; } /* '' */
.uil-paper-plane:before { content: '\f1d8'; } /* '' */
.uil-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.uil-sliders:before { content: '\f1de'; } /* '' */
.uil-user-plus:before { content: '\f234'; } /* '' */
.uil-map-pin:before { content: '\f276'; } /* '' */
.uil-map-o:before { content: '\f278'; } /* '' */
.uil-map:before { content: '\f279'; } /* '' */
.uil-search:before { content: '\f50d'; } /* '' */